# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.venv/

# Conda
.env
.conda

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Trained Models
backend/model/

# OS
.DS_Store
Thumbs.db